
/*.card {
    width: 400px;
    aspect-ratio: 1 /0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
.card image_box{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card::after{
    content: "";
    position:absolute;
    inset: 0;
    border: 2px solid white;
    border-radius:inherit ;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.card:hover img{
    filter:grayscale(1) brightness(0.4);
}

.card:hover::after{
    opacity: 1;
    inset: 20px
}
.content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
}








.z_tache{
    color: #303030;
    width: 100%;
    height: 450%;
    padding-top:1%;
    padding-bottom: 1%;
    background-color: #E3F0E3;
    font-family:Georgia, serif;
    
    
    }
    
    
    #div_rb1{
        float: left;
        width: 20%;
        background-color: #007e82;
        margin: 0.5%;
        margin-top: 5%;
        border-radius: 5px;
        background: linear-gradient(rgba(1,4,5));
        margin-bottom: 5%;
        box-shadow:4px 4px 10px gray;
        height: 10%;
        overflow: hidden;
    
    }
    
    #div_rb1{
        background-color: #007e82;
        height: 400px;
        width: 300px;
        margin:1%;
        padding:1%;
        box-shadow:6px 6px 15px gray;
    }
        
    
      /*  #div_rb1{
            float: left;
            width: 20%;
            background-color: #007e82;
            margin: 2.5%;
            margin-top: 5%;
            margin-bottom: 5%;
            box-shadow:6px 6px 15px gray;
            height: 19%;
        }
    */
    #divt{
        padding-top: 2%;
        font-size:100%;
        width:90%;
        text-align: center;
    }
    #h2z{
        margin:auto;
        padding-left: 2%;
    }
    
    
    #h1z{
        
        text-align: left;
        margin-top: 2%;
    
    }
    
    #divtp{
        font-size:75%;
        height: 70%;
        overflow: hidden;
    
    
    }
    
    #divtp_c{
        font-size:75%;
        width:100%;
        height: 70%;
        text-align: center;
        overflow: hidden;
    }
    #txt{
        text-align: center;
        margin: auto;
    }
    
    
    #inf{
        float: left;
        width: 95%;
        height: 6%;
        margin-left: 2.5%;
        border-bottom: 1px solid #007e82;
        border-right: 1px solid #007e82;
        margin-bottom: 2%;
        overflow: hidden;
    }
    
    #inf_sh{
    
        float: left;
        width: 45%;
        height: 6%;
        margin-left: 2.75%;
        border-bottom: 1px solid #007e82;
        border-right: 1px solid #007e82;
        margin-bottom: 2%;
        overflow: hidden;
        padding-left: 1%;
    
    }
    
    .imgz{
        width: 100% ;
    }

   
    
    #div_rb{
        float: left;
        width: 40%;
        background-color: #007e82;
        margin: 5%;
        margin-top: 5%;
        box-shadow:6px 6px 15px gray;
        height: 25%;
    }
    #para_rb{
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 3%;
        overflow: hidden;
    
        
    }
    
    #div_ser{
    float:left;
    width: 16.2%;
    overflow: hidden;
    align-items: baseline;
    }
    #div_ser_1{
        float:left;
        width: 16.2%;
        overflow: hidden;
        margin-left:2.75% ;
        }
    #table_sa{
        border-right: 1px solid #007e82; 
        border-bottom: 1px solid #007e82;
        width: 95%;
        margin-left:2.5% ;
        font-size:75%;
    
    }
    /*
    #parent{
        background-color: gold;
        display:flex;
        flex-direction: row-reversef ;
        align-items: stretch;
    
    }
    */
    #div_com{
        width: 21%;
        margin:2%;
        height: 10%;
        float: left;
        box-shadow:6px 6px 15px gray;
    
    }
    .parent{
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
    }
    .parent div{
        background-color: #007e82;
    
        width: 300px;
        margin:1%;
        padding:1%;
        box-shadow:6px 6px 15px gray;
    }
    
    #date{
        text-align: right;
    
    }
    
    #div_apr{
        margin: 2%;
        margin-left: 5%;
        font-size:75%;
        width: 95%;
        margin-left: 2.5%;
        border-bottom: 1px solid #007e82;
        border-right: 1px solid #007e82;
        margin-bottom: 2%;
    
    }
    
    #div_ico{
        width: 80%;
        height: 2%;
        margin-left:10%;
        float: left;
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #div_ico div{
        font-size:xx-large;
        text-align: center;
        width: 5%;
        height: 50%;
        padding-bottom: 5%;
    }
    #div_ico p{
        width: 100%;
        text-align: left;
        font-size: small;
    }
    #ico{
        color: #303030;
    }
    /*
    a{
        color: black;
    }
        */
    
    
    
    
    
    
    /* la couleurs non white*/
    /*ba9a liik modification dyall font*/
    /*deg white and black
        background-color:#E3F0E3 ;
        COLOR_P:8083ff;
        COLOR_2: #00ac7c;
    
    
    */