body{
        background-color:#E3F0E3 ;

}


.sec{
    background-color: #00AC7C;
    width: 100%;
    height: 70%;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;

}
.tab{
    width: 90%;
}

#list{
    background-color: beige;
    width: 25%;
    height: 100%;
    float: left;
    overflow: hidden;
}








.con{
    float: left;
    width: 70%;
   /* padding: 1%;*/
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    float: right;
    width: 30%;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s ;

}

.box img{
    display: block;
    width:100%;
    border-radius: 5px;

}

.box:hover{
    transform:scale(1.3) ;
    z-index:2;
}